<CustomClashRules>
	<IgnoreObjectsForClashChecking>
		<!--ByObjectPG List="GHOST"/-->
		<!--ByRangeDiagonalLimit Value="100m"/-->
	</IgnoreObjectsForClashChecking>

	<IgnoreClashesBetweenObjects>
		<!--ByObjectPG List1="GHOST" List2="*"/-->
		<!--SlabPenetration SlabTypes="Grating" ObjectTypesList="Pipes,Handrails,Member Part Linear, Member Part Curve" PipeNPDLessThanOrEqualTo="3in" MemberTypeCategoryList = "Column,Brace"/-->		
		<!--WithinToleranceToMemberPartEnd Tolerance = "10in" ObjectTypesList="*" MemberTypeCategoryList = "Column,Brace"/-->

		<Interconnected ObjectTypes="Pipes" ClashingAspect="Insulation"/>
		<Interconnected ObjectTypes="Cableway Straight, Cable Trays, Ducts, Conduits" ClashingAspect="*"/>
		<ByInterfaces List1="IJImportedStructureItem" List2="IJImportedStructureItem"/>	
		<ByAttribute Interface1="IJStructEDIData" Attribute1="OriginAppId" Operator1="NE" Value1="" 
		             Interface2="IJStructEDIData" Attribute2="OriginAppId" Operator2="NE" Value2="" />
	</IgnoreClashesBetweenObjects>
	
	<SetClashType>
	</SetClashType>
	
	<AspectToUseForClashDetection>
		<Default Aspect="Detailed physical" />
		<ByObjectType List = "Pipe Supports,Duct Supports,Cable Tray Supports" Aspect="Simple physical"/> 
	</AspectToUseForClashDetection>
	
</CustomClashRules>